# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Kobi Lvovsky\Documents\CS 3rd Year\Java Web Development\Final Project\CostManagerApp\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
